.select .main {
    border: 1px solid #000;
    position: relative;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.selectHeader {

}

.items {
    position: absolute;
    border: 1px solid #000;

}

.item{
    padding: 5px;
}
.item.selected{
    color: #fff;
    background-color: blue;
}
.item:hover{
    color: #fff;
    background-color: blue;
}